body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 1fr 10fr 2fr;
    height: 1000px;
    width: 800px;
    font-family: 'Bebas Neue', cursive;
    background: rgb(0,0,0);
    background: linear-gradient(99deg, rgba(0,0,0,1) 25%, rgba(108,27,27,1) 41%, rgba(83,80,75,1) 49%, rgba(149,0,0,1) 63%, rgba(0,0,0,1) 74%);
}
h1 {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
#search-bar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: red;
    margin: 0 auto;
}
#characters {
    grid-area: 3 / 1 / 4 / 2;
    /* background-color: red; */
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 3fr);
    /* column-gap: 40px;
    row-gap: 60px; */
}
.character-cards {
    display: grid;
    grid-template: .2fr 4fr .3fr / repeat(2, 1fr);
    margin: 0 20px 0 20px;
}
.images {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 3;
    object-fit: cover;
}
.names {
    grid-area: 1 / 1 / 2 / 3;
}
.bios {
    grid-area: 3 / 1 / 4 / 2;
}
.statuses {
    grid-area: 3 / 2 / 4 / 3;
}

#sort-options {
    grid-area: 4 / 1 / 5 / 2;
    background-color: green;
}