body {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 1fr 10fr 2fr;
    height: 600px;
    width: 1000px;
}
#title {
    grid-area: 1 / 1 / 2 / 2;
    background-color: blue;
}
#search-bar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: orange;
}
#characters {
    grid-area: 3 / 1 / 4 / 2;
    background-color: red;
    display: grid;
    grid-template: repeat(3, 3fr) / repeat(3, 3fr);
    column-gap: 40px;
    row-gap: 60px;
}
.character-cards {
    display: grid;
    grid-template: 1fr 4fr 1fr / repeat(2, 1fr)
}
#sort-options {
    grid-area: 4 / 1 / 5 / 2;
    background-color: green;
}